html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*input[type=button]{
    postion:absolute;
    
    left:10px; 
*/

#map {
    width:43.3333%;
    height:calc(100% - 80px);
    position:absolute;
    left:16px;
    top:100px;
    bottom:100px;
    overflow:hidden;
    margin-top: 3cm;

}
#map1 {
    width:43.3333%;
    height:calc(100% - 80px);
    position:absolute;
    left:16px;
    top:100px;
    bottom:100px;
    overflow:hidden;
    margin-top: 3cm;
    
}
#tab5{

  display: none;
  height: 300px;
  left: 500px;
  margin-left: 0;
  overflow: auto;
  right: 0;
  top: 0;
  width: 600px;
  word-wrap: break-word;
}
#front_footer1 {
  margin-top: 678px !important;
}
#tab6 {
  height: 400px;
  left: 500px;
  margin-left: 410px;
  margin-top: 94px;
  overflow: auto;
  right: 100px;
  top: 80px;
  width: 600px;
  word-wrap: break-word;
}
#r1{
    position: relative;
    left:399px;
    top:80px;
    width:600px; height:300px;
    word-wrap: break-word;
    overflow:auto;
    diplay:none;!important

}
#r2{
width:380px; height:50px;    
overflow:visible;
word-wrap: break-word;
display:hidden;
}
#r3{
position: relative;    
 
width:380px; height:50px;    
overflow:visible;
word-wrap: break-word;
display:hidden;
}


#bk1{
    position: relative;
    left:500px;
    top:80px;
    width:600px; height:300px;
    word-wrap: break-word;
    overflow:auto;
    display:none;
    

}

#tab1{
    margin-left: 410px;
    left:500px;
    right:100px;
    top:80px;
    width:600px; height:400px;
    word-wrap: break-word;
    overflow:auto;
    margin-top: 50px;
    
    

}

#tab2{
    margin-left: 410px;
    left:500px;
    right:100px;
    top:0px;
    width:600px; height:300px;
    word-wrap: break-word;
    overflow:auto;
    display:none;
    float: left;
}
#tab3{
    margin-left:410px;
    left:500px;
    right:100px;
    top:0px;
    width:600px; height:300px;
    word-wrap: break-word;
    overflow:auto;
    display:none;
    
}

#route1{
    width:43.3333%;
    height:calc(100% - 80px);
    position:absolute;
    left:1600px;
    top:1000px;
    bottom:100px;
    overflow:hidden;
    margin-top: 2cm;
    float : left;

}
.footer{
     margin-top: 380px !important;

}
#front_footer{
    margin-top: 380px !important;
}


#example {
  height: 600px;
  margin-left: 340px;
  margin-top: 152px;
  overflow: hidden;
  position: relative;
  width: 600px;
}

#img1{
position:absolute;
    width: 600px;
    height: 600px;
    



}
#img2{

position:absolute;
    width: 600px;
    height: 600px;
    
    display: none;



}
