<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign In </title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signIn.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" ><a href="/showSignin">Sign In</a></li>
            <li role="presentation" class="active" ><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Rent and move</h3>
      </div>
 
      <div class="jumbotron">
        <h1>SignUp</h1>
        <form class="form-signin" action="/signUp" method="post">
        <label for="fname" class="sr-only">First Name</label>
        <input type="name" name="inputfName" id="fName" class="form-control" placeholder="First Name" required autofocus>
        <label for="lName" class="sr-only">Last Name</label>
        <input type="name" name="inputlName" id="lName" class="form-control" placeholder="Last Name" required autofocus>
        <label for="uName" class="sr-only">Username</label>
        <input type="name" name="inputuName" id="uName" class="form-control" placeholder="Username" required autofocus>
        <label for="uAddress" class="sr-only">Address</label>
        <input type="name" name="inputuaddress" id="uAddress" class="form-control" placeholder="Address" required autofocus>
        <label for="uphone" class="sr-only">Phone Number</label>
        <input type="name" name="inputphone" id="uphone" class="form-control" placeholder="Phone Number" required autofocus>
        <label for="uEmail" class="sr-only">Email Id</label>
        <input type="email" name="inputEmail" id="uEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Rent and Move Inc 2015</p>
      </footer>
 
    </div>
  </body>
</html>
